<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <properties>
        <property name="LOG_HOME">../logs/</property>
        <property name="FILE_NAME">product-service</property>
        <property name="SQL_FILE">product-sql</property>
        <property name="LOG_TIME_FILE">time-log</property>
    </properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <!--<JsonLayout complete="false"/>--> <!--使用json格式输出-->
        </Console>

        <RollingRandomAccessFile name="running-log"
                                 fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="sql-log"
                                 fileName="${LOG_HOME}/${SQL_FILE}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${SQL_FILE}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="redis-log"
                                 fileName="${LOG_HOME}/redis.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${SQL_FILE}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="time-log"
                                 fileName="${LOG_HOME}/${LOG_TIME_FILE}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${LOG_TIME_FILE}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS}  %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="error-log"
                                 fileName="${LOG_HOME}/error.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${LOG_TIME_FILE}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS}  %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>

        <!-- 进程监控 -->
        <RollingRandomAccessFile name="keepalive-log"
                                 fileName="${LOG_HOME}/keepalive.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${LOG_TIME_FILE}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
    </appenders>

    <loggers>

        <logger name="product-service" level="debug" additivity="false">
            <AppenderRef ref="running-log" />
            <AppenderRef ref="Console" />
        </logger>
        <logger name="sql" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
            <AppenderRef ref="Console" />
        </logger>
        <logger name="time-statistic" level="debug" additivity="false">
            <AppenderRef ref="time-log" />
        </logger>
        <root level="info">
            <AppenderRef ref="running-log" />
            <AppenderRef ref="Console" />
        </root>

        <logger name="redis" level="debug" additivity="false">
            <AppenderRef ref="redis-log" />
        </logger>

        <logger name="com.alibaba.dubbo.common.logger.LoggerFactory" level="debug" additivity="false">
            <AppenderRef ref="running-log" />
            <AppenderRef ref="Console" />
        </logger>

        <logger name="log4j.logger.noModule" level="fatal" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>

        <logger name="com.gemantic.wealth.sentinel.mapper.ProductHonorMapper" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>

        <logger name="com.gemantic.wealth.sentinel.mapper.ProductCsiMapper" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>
        <logger name="com.gemantic.wealth.sentinel.mapper.ProductSpiritMapper" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>

        <logger name="com.gemantic.wealth.sentinel.mapper.ProductJobQueueMapper" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>

        <logger name="com.gemantic.wealth.application.mapper.RecommendFootWebMapper" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>

        <logger name="com.gemantic.wealth.application.mapper.RecommendFootHcMapper" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>

        <logger name="com.gemantic.wealth.application.mapper.FixProductMapper" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>

        <logger name="com.gemantic.wealth.sentinel.mapper.ProductTransdealMapper" level="debug" additivity="false">
            <AppenderRef ref="sql-log" />
        </logger>

        <logger name="wealth.common.keepalive.KeepAlive" level="info" additivity="false">
            <AppenderRef ref="keepalive-log" />
            <AppenderRef ref="Console" />
        </logger>
    </loggers>
</configuration>